body {
    /*padding: 0 0 50px 50px;*/
    padding: 0;
    /*margin: 0 auto;*/
    margin: 0;
    /*background-color: #EAEEF7;*/
    background-color: #162B46;
    /*width: 1030px;*/
    color: white;
}

html {
    height: 1600px;
    font-family: Arial;
    background-color: #EAEEF7;
}

.main {
    display: flex;
}

.left-panel {
    min-width: 250px;
    background-color: #F7F9FC;
    color: black;
}

.right-panel {
    padding: 30px;
}

.btn-roll-out,  .btn-roll-in {
    width: 250px;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    padding-left: 25px;
}

.btn-roll-in {
    background-color: #F7F9FC;
}

.filters-head {
    font-size: 26px;
    padding: 20px 25px;
    
}

hr {
    width: 80%;
    margin: 0 auto;
}

/*.chckl-list {
    height: 300px;
    overflow-y: scroll;
}*/

.chckl-list-hidden {
    display: none;
}

.chckl-list-hidden, .chckl-list, .check-all-btn, .check-all-btn-hidden {
    font-size: 12px;
}

.chckall {
    font-weight: bold;
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
}

.slider-h {
    justify-content: space-around;
}

.slider-h p {
    margin: 10px 0;
}

.red-text {
    color: rgb(226, 71, 71);
}

.updown {
    transform: rotate(180deg);
}

.top-h-h {
    display: flex;
    margin-top: 60px;
    align-items: center;
    margin-bottom: 20px;
}

.h-bar {
    height: 66px;
    width: 5px;
    background-color: #54e9dc;
}

.top-h-text-h  {
    padding-left: 30px;
}

.top-h-text-h p {
    font-size: 12px;
    margin: 0 10px 0 0;
}

.picker-h {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filters-h {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

/*
.first-chart-h {
    padding-left: 50px;
}
*/

h1 {
    font-size: 36px;
    padding: 0;
    margin: 0;
}

.picker {
    width: 250px;
    border-radius: 12px;
    color: black;
}

.picker * {
    font-size: 12px;
}

.Select-control {
    border: 1px solid grey;
}

.first-chart-div-h {
    width: 980px;
    height: 420px;
    background-color: white;
    display: flex;
    margin-top: 15px;
    border-radius: 4px;
}

#graph-content {
    margin: auto;
}

.first-chart-div-h {
    overflow-y: scroll;
}

h2 {
    margin-bottom: 5px;
    font-size: 18px;
}

.sec-chart-h {
    margin-top: 50px;
}

.date-picker {
    width: 210px;
    height: 34px;
    border-radius: 12px;
}

.SingleDatePicker, .SingleDatePickerInput, .DateInput, .DateInput_input {
    width: 210px;
    height: 34px;
    border-radius: 4px;
}

.date-picker * {
    font-size: 12px;
}

#graph-content-comp {
    margin: auto;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 8px;
}

#dd-dimension, #dd-metric {
    margin-top: 5px;
}

.setup-h {
    display: flex;
}

.check-all-btn {
    width: 150px;
    font-weight: bold;
}

.check-all-btn-hidden {
    width: 150px;
    display: none;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #162B46;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #54e9dc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #32a69c;
}

